.item-area {
    display: flex;
    gap: 15px;
    justify-content: right;
    color: black;
    padding: 10px;
}

.navigation {
    justify-content: right;
    position: fixed;
    right: 0px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ssvg {
    display: flex;
    justify-content: center;
    width: 34px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    align-items: center;
    cursor: pointer;
}

.nav-items,
.cross-area {
    width: 200px;
}

.cross-area {
    display: none;
}

.nav-text {
    background-color: white;
    padding: 2px 5px;
    border-radius: 4px
}

.nav-items {
    display: none;

}

.nav-shower {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-box {
    position: relative;
}

.nav-box {
    display: flex;
    flex-direction: column;
}


.flex-row {
    flex-direction: row;
}


















































/* .navigation {
    width: 100%;
    position: fixed;
    bottom: 200px;
    right: 200px;
}

.nav-container {
    display: flex;
    float: right;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 10px;
    transition: all linear 0.5s;
}

.navlinks {
    color: black;
    margin: 0 13px;
    position: relative;

}

.nav-start {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-container {
    margin: 10px 10px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
    height: 35px;
    width: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;

}



.nav-text {
    background-color: rgb(240,249,255);
    color: black;
    padding: 4px 8px;
}

/* .nav-hider {
    /* display: none; */
}

*/
/* .open {
    /* display: flex;
    margin: 5px 10px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
    height: 35px;
    width: 37px;
    /* display: flex; */
/* align-items: center;
    justify-content: center;
    background-color: aliceblue; */
*/
}

*/ */