.navigation {
    width: 100%;
}

.nav-container {
    display: flex;
    float: right;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 10px;
}

.navlinks {
    color: black;
    margin: 0 13px;
    position: relative;

}

.nav-start {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-container div {
    margin: 10px 10px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
    height: 35px;
    width: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;

}

.nav-text {
    background-color: rgb(240,249,255);
    color: black;
    padding: 4px 8px;
}